@import 'fonts';

#recipe-card {
  width: 400px;
  height: 512px;
  background-image: url(../images/BG/recipe-card.png);
  background-size: cover;
  position: relative;
  margin-top: 63px;
  transform: rotate(3deg);

  #recipe-canvas{
    position: absolute;
    top: 58px;
    left: 32px;
    right: 0px;
    margin: auto;
  }

  .copy{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 25px;
  }

  p{
    font-family: $main-copy-font;
    font-size: $main-copy-size;
    line-height: 26px;
  }

  p:nth-of-type(2){
    padding-top: 24px;
  }
  p.recipe-title{
    text-transform: uppercase;
  }
}
